@model ServiceControl.Models.DropDownListModel
@{
    ViewBag.Title = "BuddyServiceIntl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buddy Service</h2>

<script src="~/Scripts/jquery-2.1.3.min.js" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Scripts/grid-0.4.5.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var grid;

    //window.setInterval(AutoReloadGP, 3000);
    function Search() {
        grid.reload({ searchString: $("#search").val() });
    }

    $(document).ready(function () {
        grid = $("#gvBuddyService").grid({
            dataKey: "ExcelFileName",
            uiLibrary: "bootstrap",
            columns: [
                { field: "ContentDate", sortable: true, width: 10 },
                { field: "TextLen", sortable: true, width: 15 },
                { field: "ContentText", sortable: true, width: 85 },
                { field: "ContentCode", sortable: true, width: 10 },
                { field: "UploadStatus", sortable: true, width: 5 }
                
            ],
            pager: { enable: true, limit: 10, sizes: [2, 5, 10, 20] }

        });
        $("#btnSearch").on("click", Search);
    });
</script>

<div class="container">
    <div class="row">
        @Html.Partial("~/Views/Upload/FileUpload_.cshtml")
    </div>
    <div class="row">
        @using (Html.BeginForm("BuddyServiceIntl", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @*<input type="file" name="file" />
                <button type="submit" id="btnFileUpload" name="command" value="FileUpload">Upload</button>*@

            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" id="search" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button type="button" id="btnSearch" class="btn btn-info">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
           <div class="col-md-2">
                @Html.DropDownListFor(M => M.SheetID, new SelectList(Model.MobileList, "Value", "Text"), "Select Sheet", new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(M => M.MonthValue, new SelectList(Model.MonthList, "Value", "Text"), "Select Month", new { @class = "form-control" })                
            </div>
             <div class="col-md-2">
                @Html.DropDownListFor(M => M.YearValue, new SelectList(Model.YearList, "Value", "Text"), "Select Year", new { @class = "form-control" })
                <button type="submit" id="btnGridload" name="command" value="GridLoad">Load</button>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="submit" id="btnSync" class="btn btn-info btn-block" name="command" value="Sync">
                            <span>Sync</span>
                            <span class="glyphicon glyphicon-transfer"></span>
                        </button>
                    </span>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table id="gvBuddyService" data-source="@Url.Action("GetUploadedContent")"></table>
        </div>
    </div>
</div>